$game-bg: rgba(0, 0, 0, 0.46);
$primary: rgb(238, 234, 234);
$text-color: rgb(219, 214, 214);
@font-face {
  font-family: "LuckiestGuy";
  src: url("../img/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: $text-color;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  transition: background-color 200ms ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $text-color;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
html,
body {
  height: 100%;
  margin: 0;
  p {
    margin-block-end: 0;
    margin-block-start: 0;
  }
  h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    position: absolute;
    top: 0;
    z-index: 999;
    font-size: 46px;
    color: $primary;
    letter-spacing: 6px;
  }
}
.headline {
  display: flex;
  justify-content: center;
}

body {
  background-image: url("../img/7.screen_bg/Screenshot 2024-05-18 224309.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "LuckiestGuy";
}

.canvas-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  canvas {
    user-select: none;
    background: $game-bg;
    border-radius: 20px;
    box-shadow: 0 0 20px white;
    border: 2px solid white;
  }

  .move-key {
    margin-left: 60px;
    display: flex;
  }
  .up-key {
    display: flex;
    justify-content: center;
    padding-left: 10px;
  }
  .left-down-right-key {
    padding-left: 10px;
  }
  .attack-keys {
    display: flex;
    gap: 10px;
    margin-bottom: 4px;
    padding-right: 10px;
  }
}
.canvas-container img {
  width: 40px;
  height: 40px;
}
.menu {
  position: absolute;
  background-image: url("../img/3. Background/Mesa de trabajo 1.png");
  background-repeat: no-repeat;
  background-size: 1040px 520px;
  background-position: center;
  background-attachment: fixed;
  border-radius: 20px;
  aspect-ratio: 2 / 1;
  padding-bottom: 20px;
  width: 920px;
  height: 460px;
  z-index: 910;
  .bottom-menu {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    .bottom-menu-bts {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      img {
        width: clamp(100px, 100%, 180px);
        height: 50px;
        cursor: pointer;
      }
    }
  }
}
.game-over-container {
  .game-over-img {
    padding-inline: 36px;
    width: clamp(100px, 100%, 500px);
    height: 50px;
    cursor: pointer;
  }
  .game-over-menu {
    display: flex;
    align-items: center;

    .restart-img,
    .back-to-menu-img {
      padding-inline: 36px;
      width: clamp(100px, 100%, 180px);
      height: 50px;
      cursor: pointer;
    }
  }
}
.game-over-container,
.you-win-container {
  position: absolute;
  z-index: 900;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

.you-win-container {
  opacity: 0;
  transition: opacity 1.5s ease;
  .you-win-img {
    position: absolute;
    width: clamp(100px, 100%, 500px);
    width: 920px;
    height: 480px;
    z-index: 930;
  }
  .game-over-menu {
    .back-to-menu-img {
      position: absolute;
      width: 200px;
      z-index: 930;
    }
  }
}

.you-win-container.visible {
  opacity: 1;
}

.difficulty-img {
  width: clamp(100px, 100%, 180px);
  height: 50px;
  cursor: pointer;
}

.difficulty-popup-container,
.instructions-popup-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 920;
  display: flex;
  justify-content: center;
  align-items: center;
  .popup {
    position: relative;
    background: #000000c9;
    width: 700px;
    height: auto;
    aspect-ratio: 2/1;
    border-radius: 20px;
    gap: 16px;
    img {
      width: clamp(100px, 100%, 180px);
      height: 50px;
      cursor: pointer;
    }
  }
}
.difficulty-popup-container {
  .popup {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    .close-btn {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 30px;
      height: 30px;
    }
  }
}

.instructions-popup-container {
  .popup {
    background: #000000;
    width: 700px;
    overflow-y: auto;
    .close-btn {
      position: sticky;
      top: 16px;
      left: 100%;
      margin-right: 16px;
      width: 30px;
      height: 30px;
    }
    .instructions {
      padding: 16px 32px;
      color: $primary;
      text-wrap: wrap;
      letter-spacing: 1px;
      img {
        height: 300px;
        width: 100%;
      }
      p,
      li,
      h2 {
        color: $text-color;
      }
    }
  }
}
.touchCheckbox {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: center;
  gap: 12px;
  color: $primary;
  .touchCheckbox p {
    text-wrap: wrap;
  }
  .container {
    cursor: pointer;
    input {
      display: none;
      &:checked ~ svg .path {
        stroke: $text-color;
        stroke-dasharray: 70.5096664428711 9999999;
        stroke-dashoffset: -262.2723388671875;
      }
    }
    svg {
      overflow: visible;
    }
  }
  .path {
    fill: none;
    stroke: #531a82;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
  }
  svg {
    height: 1.5em;
    width: 1.5em;
  }
}

.control-panel-container {
  position: absolute;
  display: flex;
  bottom: 10px;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}
.hud-panel {
  position: absolute;
  top: 10px;
  right: 10px;
  img {
    margin-left: 8px;
  }
}
.turn-device {
  position: absolute;
  background: black;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: $primary;
  z-index: 1000;
}
.turn-device,
.msg-mobile {
  display: none;
}
@media only screen and (max-width: 922px) {
  body {
    .canvas-container {
      canvas {
        width: 100%;
        box-shadow: none;
        border: none;
      }
    }
    .menu {
      background-size: contain;
      width: 100%;
      height: auto;
    }
    .game-over-container {
      .game-over-img {
        padding-inline: 0;
      }
    }
  }
}
@media only screen and (max-width: 877px) {
  body {
    .canvas-container {
      .instructions-popup-container {
        .popup {
          width: 90vw;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .msg {
    display: none;
  }
  .msg-mobile {
    display: block;
  }
  .touchCheckbox {
    flex-direction: column;
    height: auto;
    gap: 6px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 667px) and (min-height: 667px) {
  .turn-device {
    display: flex;
  }
  .canvas-container {
    display: none;
  }
}

@media only screen and (max-height: 480px) {
  body {
    .canvas-container {
      canvas {
        box-shadow: none;
        border: none;
        height: 100vh;
      }
      .menu {
        height: 100vh;
      }
      .instructions-popup-container {
        .popup {
          height: 100vh;
          aspect-ratio: unset;
        }
      }
    }
  }
}

@media only screen and (max-height: 480px) and (max-width: 922px) {
  body {
    .canvas-container {
      canvas {
        box-shadow: none;
        border: none;
        border-radius: 0;
        height: 100vh;
        width: 100%;
      }
      .menu {
        background-size: 100% 100%;
        height: 100vh;
        width: 100%;
        aspect-ratio: unset;
      }

      .instructions-popup-container {
        .popup {
          width: 100vw;
          border-radius: 0;
          aspect-ratio: unset;
        }
      }
    }
  }
}

.d-none {
  display: none;
}
