@font-face {
  font-family: "LuckiestGuy";
  src: url("../img/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:-webkit-full-screen canvas {
  width: 100%;
  height: 100vh;
}
:fullscreen canvas,
:-webkit-full-screen canvas {
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #7fffe0;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7fffe0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

html,
body {
  height: 100%;
  margin: 0;
}
html p,
body p {
  margin-block-end: 0;
  margin-block-start: 0;
}
html h1,
body h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 24px;
  position: absolute;
  top: 0;
  z-index: 999;
  font-size: 46px;
  color: rgb(238, 234, 234);
  letter-spacing: 6px;
}

.headline {
  display: flex;
  justify-content: center;
}

body {
  background-image: url("../img/7.screen_bg/Screenshot 2024-05-18 224309.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "LuckiestGuy";
}

.canvas-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.canvas-container .legal {
  position: absolute;
  top: 10px;
  right: 8px;
  z-index: 1000;
}
.canvas-container .legal button {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  background: #7fffe0;
  color: #531a82;
  border: 4px solid white;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.3s ease;
}
.canvas-container .legal button:active {
  border: 4px solid #fffd55;
}
.canvas-container canvas {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: rgba(0, 0, 0, 0.46);
  border-radius: 20px;
  box-shadow: 0 0 20px white;
  border: 2px solid white;
}
.canvas-container .move-keys .move-key {
  margin-left: 60px;
  display: flex;
}
.canvas-container .move-keys .up-key img,
.canvas-container .move-keys .left-down-right-key img {
  width: 35px;
  height: 35px;
}
.canvas-container .up-key {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  margin-bottom: 2px;
}
.canvas-container .left-down-right-key {
  padding-left: 10px;
}
.canvas-container .attack-keys {
  display: flex;
  gap: 10px;
  margin-bottom: 4px;
  padding-right: 10px;
}
.canvas-container .you-win-container {
  opacity: 0;
  transition: opacity 1.5s ease;
  z-index: 930;
  position: absolute;
}
.canvas-container .you-win-container .you-win-img {
  width: 920px;
  height: 480px;
}
.canvas-container .you-win-container .back-to-menu {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.canvas-container .you-win-container .back-to-menu-img {
  width: 280px;
  height: 60px;
  cursor: pointer;
}

.canvas-container img {
  width: 40px;
  height: 40px;
}

.menu {
  position: absolute;
  background-image: url("../img/3. Background/Mesa de trabajo 1.png");
  background-repeat: no-repeat;
  background-size: 1040px 520px;
  background-position: center;
  background-attachment: fixed;
  border-radius: 20px;
  aspect-ratio: 2/1;
  padding-bottom: 20px;
  width: 920px;
  height: 460px;
  z-index: 910;
}
.menu .bottom-menu {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
}
.menu .bottom-menu .bottom-menu-bts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.menu .bottom-menu .bottom-menu-bts img {
  width: clamp(100px, 100%, 180px);
  height: 50px;
  cursor: pointer;
}

.game-over-container .game-over-img {
  padding-inline: 36px;
  width: clamp(100px, 100%, 500px);
  height: 50px;
  cursor: pointer;
}
.game-over-container .game-over-menu {
  display: flex;
  align-items: center;
}
.game-over-container .game-over-menu .restart-img,
.game-over-container .game-over-menu .back-to-menu-img {
  padding-inline: 36px;
  width: clamp(100px, 100%, 180px);
  height: 50px;
  cursor: pointer;
}

.game-over-container {
  position: absolute;
  z-index: 900;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

.you-win-container.visible {
  opacity: 1;
}

.difficulty-img {
  width: clamp(100px, 100%, 180px);
  height: 50px;
  cursor: pointer;
}

.difficulty-popup-container,
.instructions-popup-container,
.impressum,
.data-protection {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 920;
  display: flex;
  justify-content: center;
  align-items: center;
}
.difficulty-popup-container .popup,
.instructions-popup-container .popup,
.impressum .popup,
.data-protection .popup {
  position: relative;
  background: rgba(0, 0, 0, 0.7882352941);
  width: 700px;
  height: auto;
  aspect-ratio: 2/1;
  border-radius: 20px;
  color: rgb(219, 214, 214);
  text-wrap: wrap;
  letter-spacing: 1px;
  overflow-y: auto;
}
.difficulty-popup-container .popup .setting-menu,
.instructions-popup-container .popup .setting-menu,
.impressum .popup .setting-menu,
.data-protection .popup .setting-menu {
  gap: 16px;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.difficulty-popup-container .popup .setting-menu img,
.instructions-popup-container .popup .setting-menu img,
.impressum .popup .setting-menu img,
.data-protection .popup .setting-menu img {
  width: clamp(100px, 100%, 180px);
  height: 50px;
  cursor: pointer;
}
.difficulty-popup-container .popup .hard-info-text,
.instructions-popup-container .popup .hard-info-text,
.impressum .popup .hard-info-text,
.data-protection .popup .hard-info-text {
  text-align: center;
}

.difficulty-popup-container .popup,
.impressum .popup,
.data-protection .popup {
  width: 500px;
  padding: 48px 16px;
}
.difficulty-popup-container .popup .close-btn,
.impressum .popup .close-btn,
.data-protection .popup .close-btn {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 30px;
  height: 30px;
}

.impressum {
  font-family: sans-serif;
}
.impressum .popup {
  letter-spacing: 0px;
}

.instructions-popup-container .popup {
  background: rgba(0, 0, 0, 0.7882352941);
  width: 750px;
}
.instructions-popup-container .popup .close-btn {
  cursor: pointer;
  position: sticky;
  top: 16px;
  left: 100%;
  margin-right: 16px;
  width: 30px;
  height: 30px;
}
.instructions-popup-container .popup .instructions {
  padding: 16px 32px;
}
.instructions-popup-container .popup .instructions img {
  height: 300px;
  width: 100%;
}

.touchCheckbox {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: center;
  gap: 12px;
  color: rgb(238, 234, 234);
}
.touchCheckbox .touchCheckbox p {
  text-wrap: wrap;
}
.touchCheckbox .container {
  cursor: pointer;
}
.touchCheckbox .container input {
  display: none;
}
.touchCheckbox .container input:checked ~ svg .path {
  stroke: #fff200;
  stroke-dasharray: 70.5096664429 9999999;
  stroke-dashoffset: -262.2723388672;
}
.touchCheckbox .container svg {
  overflow: visible;
}
.touchCheckbox .path {
  fill: none;
  stroke: #531a82;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}
.touchCheckbox svg {
  height: 1.5em;
  width: 1.5em;
}

.control-panel-container {
  position: absolute;
  display: flex;
  bottom: 10px;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.hud-panel {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  right: 10px;
}
.hud-panel img {
  cursor: pointer;
  margin-left: 8px;
}
.hud-panel svg {
  margin-left: 8px;
  fill: #7fffe0;
}

.turn-device {
  position: absolute;
  background: black;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  text-align: center;
  color: rgb(238, 234, 234);
  z-index: 1000;
}

.turn-device,
.msg-mobile {
  display: none;
}

@media only screen and (max-width: 922px) {
  body .canvas-container canvas {
    width: 100%;
    box-shadow: none;
    border: none;
  }
  body .canvas-container .you-win-container .you-win-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1.91/1;
  }
  body .menu {
    background-size: contain;
    width: 100%;
    height: auto;
  }
  body .game-over-container .game-over-img {
    padding-inline: 0;
  }
}
@media only screen and (max-width: 877px) {
  body .canvas-container .instructions-popup-container .popup {
    width: 90vw;
  }
}
@media only screen and (max-width: 590px) {
  .difficulty-popup-container .popup .instructions img,
  .instructions-popup-container .popup .instructions img {
    height: 150px;
  }
  .difficulty-popup-container .popup .instructions h2,
  .instructions-popup-container .popup .instructions h2 {
    font-size: 16px;
  }
  .difficulty-popup-container .popup .instructions p,
  .difficulty-popup-container .popup .instructions ul,
  .difficulty-popup-container .popup .instructions li,
  .instructions-popup-container .popup .instructions p,
  .instructions-popup-container .popup .instructions ul,
  .instructions-popup-container .popup .instructions li {
    font-size: 12px;
  }
  .difficulty-popup-container .popup .setting-menu img,
  .instructions-popup-container .popup .setting-menu img {
    width: 90;
    height: 40px;
  }
  .difficulty-popup-container .popup .hard-info-text,
  .instructions-popup-container .popup .hard-info-text {
    text-align: center;
    font-size: 12px;
  }
  .menu .bottom-menu .bottom-menu-bts img {
    width: 90px;
    height: 40px;
  }
  .hud-panel img {
    width: 20px;
    height: 20px;
  }
  .canvas-container .you-win-container .back-to-menu {
    bottom: -15px;
  }
  .canvas-container .you-win-container .back-to-menu-img {
    width: 200px;
    height: 35px;
  }
  .canvas-container .game-over-container {
    gap: 8px;
  }
  .canvas-container .game-over-container .game-over-img {
    width: 300px;
    height: 40px;
  }
  .canvas-container .game-over-container .game-over-menu .restart-img,
  .canvas-container .game-over-container .game-over-menu .back-to-menu-img {
    width: 90px;
    height: 40px;
    padding-inline: 8px;
  }
  .canvas-container .move-keys img {
    width: 20px;
    height: 20px;
  }
  .canvas-container .attack-keys img {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .msg {
    display: none;
  }
  .msg-mobile {
    display: block;
  }
  .touchCheckbox {
    height: auto;
    gap: 6px;
    font-size: 12px;
  }
  .canvas-container .legal {
    top: 6px;
  }
  .canvas-container .legal button {
    border-radius: 8px;
    padding: 4px 12px;
    font-size: 14px;
    border: 2px solid white;
  }
  .canvas-container .legal button:active {
    border: 2px solid #fffd55;
  }
}
@media only screen and (max-width: 667px) and (min-height: 667px) {
  .turn-device {
    display: flex;
  }
  .canvas-container {
    display: none;
  }
}
@media only screen and (max-height: 480px) {
  body .canvas-container canvas {
    box-shadow: none;
    border: none;
    height: 100vh;
  }
  body .canvas-container .menu {
    height: 100vh;
  }
  body .canvas-container .instructions-popup-container .popup {
    height: 100vh;
    aspect-ratio: unset;
  }
  body .canvas-container .you-win-container .you-win-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1.91/1;
  }
}
@media only screen and (max-height: 480px) and (max-width: 922px) {
  body .canvas-container canvas {
    box-shadow: none;
    border: none;
    border-radius: 0;
    height: 100vh;
    width: 100%;
  }
  body .canvas-container .menu {
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    aspect-ratio: unset;
  }
  body .canvas-container .instructions-popup-container .popup {
    width: 100vw;
    border-radius: 0;
    aspect-ratio: unset;
  }
  body .canvas-container .you-win-container {
    border-radius: 0;
  }
  body .canvas-container .you-win-container .you-win-img {
    width: 100%;
    height: 100vh;
    aspect-ratio: auto;
  }
}
.canvas-container .d-none {
  display: none;
}

.d-none {
  display: none;
}/*# sourceMappingURL=style.css.map */